@font-face {
    font-family: 'Amaranth';
    src: url('../fonts/Amaranth-Regular.eot');
    src: url('../fonts/Amaranth-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amaranth-Regular.woff2') format('woff2'),
        url('../fonts/Amaranth-Regular.woff') format('woff'),
        url('../fonts/Amaranth-Regular.ttf') format('truetype'),
        url('../fonts/Amaranth-Regular.svg#Amaranth-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amaranth';
    src: url('../fonts/Amaranth-BoldItalic.eot');
    src: url('../fonts/Amaranth-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amaranth-BoldItalic.woff2') format('woff2'),
        url('../fonts/Amaranth-BoldItalic.woff') format('woff'),
        url('../fonts/Amaranth-BoldItalic.ttf') format('truetype'),
        url('../fonts/Amaranth-BoldItalic.svg#Amaranth-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Amaranth';
    src: url('../fonts/Amaranth-Italic.eot');
    src: url('../fonts/Amaranth-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amaranth-Italic.woff2') format('woff2'),
        url('../fonts/Amaranth-Italic.woff') format('woff'),
        url('../fonts/Amaranth-Italic.ttf') format('truetype'),
        url('../fonts/Amaranth-Italic.svg#Amaranth-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Amaranth';
    src: url('../fonts/Amaranth-Bold.eot');
    src: url('../fonts/Amaranth-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Amaranth-Bold.woff2') format('woff2'),
        url('../fonts/Amaranth-Bold.woff') format('woff'),
        url('../fonts/Amaranth-Bold.ttf') format('truetype'),
        url('../fonts/Amaranth-Bold.svg#Amaranth-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


body{
    padding-top: 81px;
    font-size: 16px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

a{
    color: #116185;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a:hover,a:focus{
    color: #116185;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Amaranth';
    font-weight: 700;
    color: #116185;
}

h1{
    font-size: 45px;
}
h2{
    font-size: 32px;
    margin: 0 0 25px;
    position: relative;
    padding: 0 0 10px;
}
h2:after{
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #116185;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 22px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}

header{
    background-color: #116185;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
}
.navbar-brand{
    color: #fff;
    font-family: 'Amaranth';
    font-style: italic;
    font-weight: 700;
    font-size: 22px;
}
.navbar-nav{
    margin: 0 0 0 auto;
    gap: 10px;
}
.navbar-toggler {
    border-color: #fff;
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-nav .nav-link{
    font-size: 18px;
    font-family: 'Amaranth';
    color: #fff;
    display: block;
    position: relative;
}
.navbar-nav .nav-link:after{
    content: '';
    height: 1px;
    width: calc(100% - 16px);
    left: 8px;
    width: 0;
    background-color: #fff;
    bottom: 0;
    display: block;
    transition: all 0.3s ease-in-out;
}
.navbar-nav .nav-link.active{
    color: #fff;
}
.navbar-nav .nav-link.active:after, .navbar-nav .nav-link:hover:after{
    width: 100%;
}

.banner-section{
    padding: 300px 0 100px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    z-index: 1;
    min-height: calc(100vh - 82px);
}
.banner-section h2:after{
    background-color: #fff;
}
.banner-section h1, .banner-section h2, .banner-section h3{
    color: #fff;
    margin: 0 0 10px;
}
.banner-section h3{
    margin: 0;
}
.banner-section::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.banner-left-sec{
    max-width: 420px;
}
.banner-right-sec{
    position: absolute;
    height: 100%;
    width: 40%;
    max-width: 450px;
    padding: 30px 20px;
    text-align: center;
    background-color: #116185;
    color: #fff;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-right-sec h2{
    padding: 0;
}
.banner-right-sec h2:after{
    display: none;
}
.developer-img{
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 0 20px;
}
.developer-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-right-sec h3{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}
.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.skills h3{
    width: 100%;
}
.skills span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #F8FAFC;
    border-radius: 4px;
    color: #116185;
    padding: 4px 8px;
    font-weight: 600;
    font-size: 14px;
}


.about-section{
    padding: 100px 0;
}
.about-section h2::after{
    left: 50%;
    transform: translateX(-50%);
}
.about-inn{
    max-width: 780px;
    margin: 0 auto;
}
.education-detail{
    position: sticky;
    top: 100px;
}
.edu-experience-section{
    padding: 100px 0;
    background-color: #F8FAFC;
}

.edu-experience-section h6{
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    margin: 0 0 5px;
}

.experience-info{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 0 20px;
    max-width: 750px;
}
.experience-info:last-child{
    border-bottom: 0;
}

.project-section{
    padding: 100px 0;
}

footer{
    padding: 40px 0;
    background-color: #116185;
}
footer h4{
    color: #fff;
    margin: 0 0 30px;
    max-width: 200px;
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    gap: 15px;
    list-style: none;
}
.social-links li a{
    display: inline-block;
    overflow: hidden;
}
.social-links li a img, .quick-contact a img{
    display: block;
    object-fit: contain;
    height: 18px;
    width: auto;
    filter: drop-shadow(0px 100px 0 #FFF);
    transform: translateY(-100px);
    transition: all 0.3s ease-in-out;
}
.social-links li a:hover{
    opacity: 0.7;
}
.quick-contact{
    list-style: none;
    margin: 0;
    padding: 0;
}
.quick-contact li{
    margin: 0 0 10px;
}
.quick-contact li:last-child{
    margin-bottom: 0;
}
.quick-contact a{
    color: #fff;
    overflow: hidden;
    display: flex;
    gap: 10px;
    align-items: center;
}
.quick-contact a:hover{
    opacity: 0.7;
}



@media screen and (max-width: 767px) {
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 28px;
        margin: 0 0 20px;
    }
    .banner-left-sec{
        max-width: inherit;
    }
    .banner-section{
        padding: 100px 0;
    }
    .banner-right-sec{
        /* position: relative; */
        width: 100%;
        max-width: 100%;
        height: auto;
        bottom: -210px;
        top: auto;
    }
    .developer-img{
        height: 100px;
        width: 100px;
        margin: 0 0 10px;
    }
    .about-section{
        margin-top: 210px;
    }
    .about-section, .edu-experience-section, .project-section{padding: 60px 0;}
}

@media screen and (max-width: 640px){
    .about-section, .edu-experience-section, .project-section{padding: 40px 0;}
}

@media screen and (max-width: 575.33px){
    footer{padding: 25px 0;}
    footer h4{margin: 0 0 15px;}
    .quick-contact{margin-top: 20px;}
}